body {
  background-color: #2a2a2a !important;
}

.amountField {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.card.bg-dark {
  color: #DDD;
}

.card.bg-dark input,
.card.bg-dark select {
  background: #464646;
  color: white;
  border: solid 1px #2b2b2b;
}

.card.bg-dark input:focus,
.card.bg-dark select:focus {
  outline: none;
}

.card {
  border: solid 1px #2b2b2b !important;
}

.records .record {
  padding: 16px 10px;
}


.records>div {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  border-bottom: solid 1px #2b2b2b;
  background-color: #2b2b2b;
}

.records>div:nth-child(even) {
  background: #3d3d3d;
}

.records>div:hover {
  background: #ffc23f;
  color: black
}

.records p {
  margin: 0;
}

.records .details_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5px;
}

.records .details_extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem 0;
}

.records .text_primary {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.records .text_secondary {
  font-size: 12px;
  color: grey;
}

.records .text_amount {
  font-size: small;
  font-weight: bold;
  font-size: 14px;
}

.records .mainAvatar {
  z-index: 100;
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2.5rem;
  border-radius: 20%;
  background-color: #2b2b2b;
  color: white;
  box-shadow: 0rem 0.1rem .2rem rgba(0, 0, 0, .5);
}

.records .secondAvatar {
  margin-top: -3px;
  align-items: flex-end;
  display: flex;
  height: 1.8rem;
  justify-content: center;
  width: 1.8rem;
  border-radius: 20%;
  color: white;
  background: #2b2b2b;
  box-shadow: 0rem 0.1rem .2rem rgba(0, 0, 0, .5);
}

.records .avatarCol {
  width: 4.5rem;
  flex: 0 0 auto
}


.UserAuth form {
  display: grid;
}

.UserAuth form input {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--neutral800);
  border: solid 1px var(--neutral500);
  display: block;
  color: var(--text_off);
  box-shadow: 0 0 5px 0 var(--white_05);
}

.UserAuth form input:focus {
  outline: none;
  border-bottom: solid 1px green;
}

.UserAuth .card-footer button {
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  height: 3rem;
  background: var(--neutral500);
  border: solid 1px #2a2a2a;
  border-radius: 0.3rem;
  color: var(--text_off);
  transition: color 0.5s ease-in-out;
}

.UserAuth .card-footer button i {
  margin-left: .5rem;
}

.UserWidget>div {
  transition: all .3s ease-in-out;
  color: white;
}

.UserWidget>div:hover {
  transform: scale(1.3);
}

.UserWidget>div>img {
  width: 32px;
  border-radius: 50%;
  margin-left: 1.5rem;
  cursor: pointer;
}

.UserWidget .custom-dialog>div {
  background-color: rgb(20, 20, 20);
  color: white;
}

.UserWidget .custom-dialog {
  top: 60px;
  margin: 0 0 0 auto;
}

.UserWidget .modal-header img {
  width: 96px;
  border-radius: 50%;
  padding: 1rem 0;
}